/*图片轮播*/
.carousel-inner{
	width: 70%;
	margin: auto;
}
.search_form{
	margin-top: 8px;
}
.row{
	margin: 10px;
}
.image{
	height: 100%;
	margin-bottom: 0px;
}
.div_background{
	margin:0px;
	background:-webkit-radial-gradient(white ,#8f9fa6);

}
/*排行榜*/
.bc{
	height: 340px;
	background-color:#abc8d6;
}
.chart{
	font-family: 微软雅黑;
	font-size: 1.1em;
}
.chart_ill{
	display: inline-block;
	font-family: 微软雅黑;
	font-size: 1.2em;
	color: black;
	padding:10px;
}
/*分类按钮*/
.class-btn{
	margin-top: 18px;
}
.btn-info{
	width: 230px;
	height: 40px;
	display: block;	
}
